<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lune.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
				<key>dateExpires</key>
				<string>15.09.2021</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DapiConnect.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>contacts_service.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>dapi.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>device_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_inapp_purchase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>platform_device_id.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>shared_preferences.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>78173454A491F99FF77B765EAC26CBCE1B04BA81</string>
						<key>dateExpires</key>
						<string>15.09.2021</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>GASK8YTBQ6</string>
						<key>name</key>
						<string>Lune Technologies Ltd</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>GASK8YTBQ6.ae.lun</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>GASK8YTBQ6</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Lune.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2c2e8395-5fa2-407b-ba13-53938a43c702</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ae.lun</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>GASK8YTBQ6</string>
				<key>name</key>
				<string>Lune Technologies Ltd</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
